*{
  box-sizing: border-box;
  }
  
  body{
  /* background-color: #01334a; */
  
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, #01334a 0%, #01334a 25%, #00293b 51%, #2a0814 100%);
    -webkit-animation: AnimateBG 20s ease infinite;
    animation: AnimateBG 20s ease infinite;
  }
  
  @-webkit-keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  
  .navbar{
  display: flex;
  justify-content: space-between;
  position: sticky;
  }
  
  .navbar a{
  text-decoration: none;
  margin-top: 20px;
  font-size: 15px;
  color: #fff;;
  }
  
  .navbar a:hover{
  color:cadetblue;
  transition: 0.8s ease;
  }
  
  .navbar a:first-child {
  margin-right: auto;
  }
  
  .navbar a:not(:first-child) {
  margin-left: 60px;
  }
  

.main-elements{
  margin-top: 100px;
  display: flex;
  }

  ul {
    margin-top: 10px;
    padding-left: 0px;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
  }

ul li{

border: 1px solid white;
margin-bottom: 10px;
padding: 10px;
border-radius: 40px;
list-style: none;
text-align: center;

}


 .wrapper{
  display: flex;
  padding-top: 20px;
 }

 .collapsible{
  width: 100%;
  overflow: hidden;
  font-weight: 500;
 }

 .collapsible input{
  display: none;
 }

 .collapsible label{
  position: relative;
  font-weight: 600;
  background: transparent;
  display: block;
  margin-bottom: 10px;
  padding: 15px 0;
  border-radius: 4px;
  z-index: 1;
 }

 .collapsible label:hover{
  color: cadetblue;
  border-color: cadetblue;
  transition: 0.5s ease-in-out;
  cursor:pointer;
 }
 
 .collapsible label:after{
  content: "+";
  font-size: 25px;
  position: absolute;
  right: 10px;
  top: 18px;
  width: 25px;
  height: 25px;
  transition: all 0.9s ease;
 }

 .collapsible input:checked + label:after{
  content: "-";
  transition: all 0.9s ease-in-out;
 }

 .collapsible-text{
  max-height: 1px;
  overflow: hidden;
  border-radius: 4px;
  line-height: 1.4;
  transition: all 0.9s ease;
 }

 .collapsible input:checked ~ .collapsible-text{
  max-height: 300px;
  padding-bottom: 25px;
  background: transparent;
 }



 .collapsible-2{
  width: 100%;
  overflow: hidden;
  font-weight: 500;
 
 }

 .collapsible-2 input{
  display: none;
 }

 .collapsible-2 label{
  position: relative;
  font-weight: 600;
  background: transparent;
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 15px 0;
  border-radius: 4px;
  z-index: 1;
 }
 
 .collapsible-2 label:after{
  content: "+";
  font-size: 25px;
  position: absolute;
  right: 10px;
  top: 18px;
  width: 25px;
  height: 25px;
  transition: all 0.9s ease;
 }

 .collapsible-2 input:checked + label:after{
  content: "-";
  transition: all 0.9s ease-in-out;
 }

 .collapsible-text-2{
  max-height: 1px;
  overflow: hidden;
  border-radius: 4px;
  line-height: 1.4;
  transition: all 0.9s ease;
 }

 .collapsible-2 input:checked ~ .collapsible-text-2{
  max-height: 300px;
  padding-bottom: 25px;
  background: transparent;
  
 }

 .skill-container{
  display: flex;
  }
  
  .skillsection-1, .skillsection-2{
  width: 50%;
  padding-right: 10px;
  }
  
  h1{
  color: #fff;
  
  }
  
  p{
  display: inline;
  }
  
  .progress{
  margin-bottom: 20px;
  height: 12px;
  }
  
  .progress-bar{
  background-color:rgb(61, 111, 113);
  }







/* *{
box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, #01334a 0%, #01334a 25%, #00293b 51%, #2a0814 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
  animation: AnimateBG 20s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.navbar{
display: flex;
justify-content: space-between;
position: sticky;
}

.navbar a{
text-decoration: none;
margin-top: 20px;
font-size: 15px;
color: #fff;;
}

.navbar a:hover{
color:cadetblue;
transition: 0.8s ease;
}

.navbar a:first-child {
margin-right: auto;
}

.navbar a:not(:first-child) {
margin-left: 60px;
}

.main-elements{
margin-top: 100px;
display: flex;
}

.main-texts h2, p{
color: #fff;
padding-bottom: 40px;
width: 90%;
}

.btn{
margin: 0px;
padding: 0px;
}

button{
color: #fff;
background-color: transparent;
border: solid 1px #fff;
padding: 10px;
border-radius: 20px;
}

button:hover{
color: cadetblue;
border-color: cadetblue;
transition: 0.5s ease-in-out;
}


.skill-container{
display: flex;
}

.skillsection-1, .skillsection-2{
width: 50%;
padding-right: 10px;
}

h1{
color: #fff;

}

p{
display: inline;
}

.progress{
margin-bottom: 20px;
}

.progress-bar{
background-color: rgb(87, 86, 86); 
}

.parent {
display: flex;
list-style: none;
margin: 0px;
padding: 0px;
}

li{
margin-top: 10px;    
border: 0.5px solid #fff;
border-radius: 20px;
text-align: center;
width: 20%;
height: 60px;
margin-right: 10px;
color: #fff;
opacity: 0.9;
} */
